<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>{$Think.CONFIG.sitename}</title>
    <!--link rel="stylesheet" type="text/css" href="{$Think.CONFIG.URL}/style.css" />
    <script type="text/javascript" src="{$Think.CONFIG.URL}/js.js"></script-->
    <meta name="keywords" content="{$Think.CONFIG.keywords}"/>
    <meta name="description" content="{$Think.CONFIG.description}"/>
</head>
<body>
<div class="file_holder">
    <div class="file_title">
        <i class="octicon octicon-book"></i>

    </div>
    <div class="file_content markdown-body">
        <h1><a class="anchor" id="qwadmin" href="#qwadmin"></a>Hello  World</h1>
    </div>
</div>
</body>
</html>
